<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle <%= heroe.superhero %></title>
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <main>

        <h2>Detalle <%= heroe.superhero %> </h2>

        <article>
            <img src="/images/<%= heroe.id %>.jpg" alt="Imagen de <%= heroe.superhero %> ">
            <ul>
                <li><%= heroe.publisher %> </li>
                <li><%= heroe.alter_ego %> </li>
                <li><%= heroe.first_appearance %> </li>
                <li><%= heroe.characters %> </li>
            </ul>
        </article>
        <button onclick="history.back()" class="btn"><i class="fa fa-arrow-left"></i> back</button>
    </main>
</body>
</html>