<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>

    <%- include('./partials/header.ejs') %> 
    <main>

        <h2><%= publisher %>  Heroes</h2>
        
        <section class="heroes-section">
            
            <% heroes.forEach(element => { %>
                
                <article class="hero-card">
                    <a href="/detalle/<%= element.id %>"> 
                        <h3><%= element.superhero %> </h3>
                        <img src="/images/<%= element.id %>.jpg" width="200" alt="Imagen de <%= element.superhero %> ">
                    </a>
                        
                    <p><%= element.alter_ego %> </p>
                        <p>
                            <% if ( element.publisher === "DC Comics") { %>
                               
                                    <span class="publisher-card"><%= element.publisher %> </span>  
                          
                            <% } else { %>
                                
                                    <span class="publisher-card"><%= element.publisher %> </span>  
                            
                            <% } %>
                        </p>
                        
                    </article>
                <% }) %>
        </section>
    </main>

            
</body>
</html>